.hero{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #471e48;
  height: auto;
  padding-top: 70px;
  /* background-color: rgba(237, 244, 252, 0.42); */
}

.hero p{
  font-size: 1.8rem;
  line-height: 50px;
}

.hero h1{
  font-size: 4rem;
  line-height: 50px;
  font-weight: 700;
}

form{
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #471e48;
  border-radius: 50px;
  padding: 5px;
  margin-top: 70px;
}

form input{
  padding: 12px;
  border: none;
  width: 70%;
  outline: none;
}

form input::placeholder{
  opacity: .5;
}

form button{
  border: none;
  background: #471e48;
  padding: 12px;
  width: 30%;
  color: #fff;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

.hero img{
  margin-top: 20px;
}
