<div class="pricing-section" id="pricing">
  <div class="pricing-header">
    <h3>Our Pricing plans</h3>
    <p>Find news articles, blogs and tweets about your startup</p>
    <span></span>
  </div>
  <div class="card-section">
    <div class="pricing-cards" *ngFor="let item of pricingContent; let i = index;">
      <div class="card" id="{{ item.id }}">
        <img src="{{ item.image }}" alt="">
        <div class="price">
          <h3>{{ item.priceTag.priceText }}</h3>
          <span>
            <h1><sup>$</sup>{{ item.priceTag.value }}<sub>{{ item.priceTag.sub }}</sub></h1>
            <p>{{ item.priceTag.period }}</p>
          </span>
        </div>
        <div class="items">
          <ul>
            <li id="bold">{{ item.listItems.first }}</li>
            <li> <b *ngIf="i > 0" >Free Sources + </b> {{ item.listItems.item2 }}</li>
            <li>{{ item.listItems.item3 }}</li>
            <li>{{ item.listItems.item4 }}</li>
            <li *ngIf="item.listItems.item5">{{ item.listItems.item5 }}</li>
          </ul>
        </div>
        <button id="start-btn">Start Now</button>
      </div>
    </div>
  </div>
</div>
