.pricing-section{
  display: flex;
  padding: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url(/assets/images/pricingBackgorund.svg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.pricing-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pricing-header h3{
  font-size: 2rem;
  line-height: 50px;
  font-weight: 700;
  margin-top: 30px;
}

.pricing-header p{
  font-size: .8rem;
  width: 100%;
  display: flex;
  align-items: center;
  opacity: .6;
  justify-content: center;
}

.pricing-header span{
  border-radius: 25px;
  width: 5%;
  display: flex;
  border: 3px solid #471e48;
  margin-top: 20px;
}
.card-section{
  display: flex;
  width: 100%;
}
.pricing-cards{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
  background-color: rgba(266, 100, 44, 0.02);
}

.card{
  padding: 29px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 30px 0 rgba(245, 90, 8, 0.08);
  background-color: #ffffff;
  min-width: 385px;
}

#first,
#third{
  margin: 30px 0px;
}

#second{
  border-radius: 6px;
box-shadow: 0 2px 30px 0 rgba(245, 90, 8, 0.08);
background-color: #ffffff;
padding: 29px;
display: flex;
flex-direction: column;
justify-content: space-between;
position: relative;
min-width: 450px;
height: 600px;
margin: 0px !important;
}

.card img{
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .price{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.price h3{
  font-size: 1.7rem;
  font-weight: 300;
  color: rgb(224, 93, 27);
}

.price span{
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.price span h1{
  transform: scale(1, 1.5);
  line-height: 40px;
}

sub{
  font-size: .9rem;
  font-weight: 200;
}

sup{
  font-size: .8rem;
  font-weight: 500;
}

.price span p{
  font-size: .8rem;
  font-weight: 200;
}

.items{
  display: flex;
  width: 100%;
}

.items ul{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}

.items ul li{
  opacity: .8;
  font-size: .8rem !important;
  font-weight: 200;
}


mat-icon{
  color: green;
  font-size: 1.2rem;
  margin-right: 10px;
}

#bold{
  font-size: 1rem;
  line-height: 40px;
  font-weight: 700;
  color: rgb(224, 93, 27);
  margin-top: 20px;
}

#start-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 60%;
  cursor: pointer;
  margin-top: 50px;
  border: 1px solid rgb(224, 93, 27);
  border-radius: 10px;
  color: rgb(224, 93, 27);
  font-weight: 400;
  font-size: 1.1rem;
  background: transparent;
}

#second button{
  background: rgb(224, 93, 27);
  color: #ffffff;
}



