.details-section{
  display: flex;
  padding: 50px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.details-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.details-header h3{
  font-size: 2rem;
  height: 80px;
  font-weight: 700;
  margin-top: 30px;
}

.details-header p{
    border-radius: 25px;
    width: 5%;
    display: flex;
    border: 3px solid #471e48;
}

.details-content{
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 50px;
}

.content{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 50px;
}

.details-content:nth-child(2){
  display: flex;
}

.content-text{
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-left: 100px;
}

.content-text h3{
  font-size: 2rem;
  line-height: 60px;
  font-weight: 700;
  width: 50%;
  margin-top: 30px;
  color: rgb(224, 93, 27);
}

.content-text span{
  border-radius: 25px;
  width: 10%;
  display: flex;
  margin-top: 20px;
  border: 3px solid rgb(224, 93, 27);
}

.content-text p{
  font-size: 1rem;
  font-weight: 200;
  width: 50%;
  display: flex;
  margin-top: 20px;
  line-height: 2;
  opacity: .8;
}

.content-text button{
  padding: 15px;
  width: 30%;
  margin-top: 30px;
  border: none;
  border-radius: 7px;
  color: #fff;
  font-weight: 700;
  font-size: .9rem;
  background: rgb(224, 93, 27);
  cursor: pointer;
}

.content-img{
  display: flex;
  width: 50%;
  align-items: center;
}

.content-img img{
  display: flex;
  max-width: 100%;
  margin-right: 50px;
}
